.task-container {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 1rem;
	margin: 0.5rem;
}

.task-container:hover {
	border-color: #3b478f;
}

.task-actions div {
	margin: 0 0.5rem;
}

.tags-container {
	margin: 5px 0;
}